
/* *----Global Styles---- */
:root {
  --main-dark-color: #0b1d51;
  --secondary-dark-color: #08163d;
  --tertiary-dark-color: #1a2f73;
  --accent-info: #86b7fe; 
}

body {

  background-color: var(--main-dark-color);
  color: #fff;
  margin: 0;
  padding: 0;
}
textarea{
  max-height: 18.75rem!important;
}
/* Forms */
.form-control {
  background-color: var(--secondary-dark-color);
  color: #fff;
  border: 1px solid var(--secondary-dark-color);
}

.form-control:focus {
  color: #fff;
  background-color: var(--secondary-dark-color);
  border-color: var(--accent-info);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(134, 183, 254, 0.25);
}

.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-select ~ label::after {
  background-color: transparent;
}

form label {
  color: var(--accent-info) !important;
}
.border-mainn {
  border-color: var(--accent-info) !important;
}
.item>div>img{
  height: 300px;
  object-fit: contain;
  transition: 400ms transform;
  border-radius: 30px;
  padding-top: 1.25rem;
}
.item>div>img:hover{
  transform: scale(1.1);
}
input[type="search"]::placeholder{
  color: var(--accent-info);
}